{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body id="bgc">
    <div id="div">
    <p>
        Manchester City Football Club are an English football club based in Manchester that competes in the Premier League, the top flight of English football. Founded in 1880 as St. Mark's (West Gorton), they became Ardwick Association Football Club in 1887 and Manchester City in 1894. The club's home ground is the Etihad Stadium in east Manchester, to which they moved in 2003, having played at Maine Road since 1923. Manchester City adopted their sky blue home shirts in 1894, in the first season with the current name.[3] Over the course of its history, the club has won eight league titles, six FA Cups, eight League Cups, six FA Community Shields, and one European Cup Winners' Cup, making them the fifth most successful club in English football.

    </p>
    <p>
        The club joined the Football League in 1892, and won their first major honour, the FA Cup, in 1904. Manchester City The club had its first major period of success in the late 1960s and early 1970s, winning the league title, FA Cup, League Cup, and European Cup Winners Cup under the management of Joe Mercer and Malcolm Allison. After losing the 1981 FA Cup Final, Manchester City went through a period of decline, culminating in relegation to the third tier of English football for the only time in their history in 1998. They since regained promotion to the top tier in 2001–02 and have remained a fixture in the Premier League since 2002–03.
    </p>
    <p>
        Manchester City received considerable financial investment both in playing staff and facilities following its takeover by Sheikh Mansour bin Zayed Al Nahyan through the Abu Dhabi United Group in 2008.[4] This started a new era of unprecedented success, with the club winning the FA Cup in 2011 and the Premier League in 2012, both their first since the 1960s, followed by another league title in 2014. Under the management of Pep Guardiola, Manchester City won the Premier League in 2018, becoming the only team in the competition history to attain 100 points in a single season. In 2018–19, they won four trophies, completing an unprecedented sweep of all domestic titles in England and becoming the first English men's team to win the domestic treble.[5] This was followed by two consecutive Premier League titles in 2020–21 and 2021–22, the third and fourth in the Guardiola era, as well as the club's first-ever Champions League final in 2021, which they lost to Chelsea.
    </p>
    <p>
        Although Manchester City have yet to win a UEFA Champions League title, by the 2022–23 season they had qualified to play in the competition for twelve consecutive seasons and reached the knockout stages for ten consecutive seasons. Furthermore, the club was ranked third in the UEFA coefficient standings at the end of the 2021–22 campaign, reaching its highest ever position.[6]

Manchester City topped the Deloitte Football Money League at the end of the 2020–21 season, making it the football club with the highest revenue in the world, approximated at €644.9 million.[7] In 2021, Forbes estimated the club was the sixth most valuable in the world, worth $4 billion.[8][9] Manchester City are owned by City Football Group Limited, a British-based holding company valued at £3.73 (US$4.8) billion in November 2019.
    </p>
    </div>
</body>
</html>
