{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>

    <div class="nb">
       <h1 id="h1"> manchester city</h1>
    </div>
    <div class="nb2">
       <h2 id="h2"> <ul>
        <a href= "{% url 'home:about'%}"><li>about</li></a>
        <a href= "{% url 'home:trophies'%}"><li>trophies</li></a>
        <a href= "{% url 'home:players'%}"><li>players</li></a>
        

      
        
    
       </ul></h2>

    </div>
        <!-- <div class="div1">
            
            <img src="{% static 'images/pl.jpg' %}">

            
            <p>Full name	Manchester City Football Club</p>
            <p>Nickname(s)	The Citizens[1], The Sky Blues</p>
            <p>>Short name	City, Man City</p>
            <p>Founded	1880; 142 years ago as St. Mark's (West Gorton)<br>
             1887; 135 years ago as Ardwick Association F.C.<br>
             16 April 1894; 128 years ago as Manchester City[a]<br></p>
            <p>Ground	City of Manchester Stadium</p>
            <p>Capacity	53,400[2]</p>
           <p> Owner	City Football Group Limited</p>
            <P>Chairman	Khaldoon Al Mubarak</P>
            <p>Manager	Pep Guardiola
            <p>League	Premier League</p>
        
            </div>
            <div class="div2">
                <div class="d1"></div>
                <div class="d2"></div>
                <div class="d3"></div>
                <div class="d4"></div>

            </div> -->
       <div class="div">
        <div class="dc1">
              
            <img src="{% static 'images/citylogo.png' %}">

            
            <p>Full name -   Manchester City Football Club</p>
            <p>Nickname -    The Citizens[1], The Sky Blues</p>
            <p>Short name-	City, Man City</p>
            <p>Founded	-    1880; 142 years ago as St. Mark's (West Gorton)<br>
             1887; 135 years ago as Ardwick Association F.C.<br>
             16 April 1894; 128 years ago as Manchester City<br></p>
            <p>Ground	  -  Ethihad Stadium</p>
            <p>Capacity	  -  53,400</p>
           <p>Owner	  -  City Football Group Limited</p>
            <P>Chairman	 -   Khaldoon Al Mubarak</P>
            <p>Manager	 -   Pep Guardiola
            <p>League	-    Premier League</p>
        



        </div>
        <div class="dc2"></div>
        <div class="dc3"></div>
        <div class="dc4"></div>
        <div class="dc5"></div>
        <div class="dc6"></div>
        <div class="dc7"></div>

      
       </div>   
       <br><br>
       <div class="div2">
       
       <div class="div3"></div>
       <!-- <div class="div4"></div> -->
       </div>

       
            
    
</body>
</html>