{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body >
    <div><h1 id="h1"> TEAM SQUAD</h1></div>
    <div class="div">
    <div class="divgrd">
        <div>GOAL KEEPERS </div>
        <div>  DEFENDS</div>
        <div>  MIDFIELD</div>
        <div>  FORWARD</div>
    </div>
        
        <div class="div1">
    
            <img src="{% static 'images/pl.jpg' %}">
            <ul>
                <li>EDERSON M</li>
                <li> CARSON</li>
            </ul>


        </div>
        <div class="div2">
            <img src="{% static 'images/pl.jpg' %}">
            <ul>
                <li>R DIAS</li>
                <li>A LAPORTE</li>
                <LI>N AKE</LI>
                <LI>J CANCELO</LI>
                <LI>K WALKER</LI>
                <LI>M AKANJI</LI>
                <LI>MENDY</LI>
                <LI>COSTS</LI>
                <LI>MARTIN</LI>
            </ul>

        </div>
        <div class="div3">
            <img src="{% static 'images/pl.jpg' %}">
            <ul>
                <li>K DEBRUNE</li>
                <li>B SILVA</li>
                <li>J GREELISH</li>
                <li>RODRI</li>
                <li>GUNDOGEN</li>
                <li>PALMER</li>
                <li>K PHILLIPS</li>
            </ul>

        </div>
        <div class="div4">
            <img src="{% static 'images/pl.jpg' %}">
            <ul>
                <li>E HALLAND</li>
                <li>P FODEN</li>
                <li>R MEHREZ</li>
                <li> J ALVARES</li>
                <li>SMITH</li>
                <li>KIYAKYA</li>
            </ul>

        </div>
        <div class="div5">


        </div>

       <div class="footer"></div>

    </div>
    

    
</body>
</html>