{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">

</head>
<body>
    <div class="d">
        <div class="div1">
            <h1 class="h1"> PREMIER LEAGUE </h1>
            <BR>
             <h2 class="h2"> 8x</h2>
             <h3>
                2022  2021  2019  2018  2016  2014  2013  2010
             </h3>
        

        </div>
        <div class="div2">
            <h1 class="h1"> FA CUP </h1>
            <br>
            <h2 class="h2"> 6x</h2>
            <h3>
               2019  2018  2015  2008  2004  1998 
            </h3>
            


        </div>
        <div class="div3">
            <h1 class="h1"> CARBAO CUP </h1>
            <br>
            <h2 class="h2"> 8x</h2>
            <h3>
                2018  2017  2015  2012  2008  2001  1994  1889
            </h3>
            

        </div>
    
    <div class="div4">
    


    </div>
    <div class="div5">

    </div>
    <div class="div6">

    </div>
    </div>
</body>
</html>