.div1{
    background-color: skyblue;
    height: 200px;
    width: 400px;
    display: inline;
    display: inline-block;
    box-shadow: 20px 20px white;
    margin:30px;
    border-radius: 10px;

}
.div2{
    background-color:skyblue;
    height: 200px;
    width: 400px;
    display: inline;
    display: inline-block;
    box-shadow: 20px 20px white;
    margin:30px;
    border-radius: 10px;
    
}
.div3{
    background-color: skyblue;
    height: 200px;
    width: 400px;
    display: inline;
    display: inline-block;
    box-shadow: 20px 20px white;
    margin:30px;
    border-radius: 10px;
    
    
}
.h1{
    justify-content: center;
    background-color: black;
    color: aliceblue;
}
.div4{
    
    height: 200px;
    width: 400px;
    display: inline;
    display: inline-block;
    box-shadow: 20px 20px rgb(250, 253, 250);
    margin:30px;
    border-radius: 10px;
    background-image: url("../images/pl.jpg");
    
    
}
.div5{
    
    height: 200px;
    width: 400px;
    display: inline;
    display: inline-block;
    box-shadow: 20px 20px rgb(247, 249, 247);
    margin:30px;
    border-radius: 10px;
    background-image: url("../images/fa.jpg");
    
    
}
.div6{
    
    height: 200px;
    width: 400px;
    display: inline;
    display: inline-block;
    box-shadow: 20px 20px rgb(255, 255, 255);
    margin:30px;
    border-radius: 10px;
    background-image: url("../images/ca.jpg");
    
    
}
.h2{
    background-color: rgb(199, 227, 18);
    color: rgb(0, 10, 19);
}
.d{
    background-color: rgb(84, 139, 165);
    padding: 45px;
}
