.nb{
    height: 50px;
    background-color: rgb(5, 191, 248);
    position: sticky;
    top:3px;
    /* z-index:1; */  /*for content  crol behind navebar*/
    text-align:center;
    
    
}
#h1{
   color: aliceblue; 
   
}
li{
    display: inline;
    padding: 30px;
}
.nb2{
    height: 50px;
    background-color:silver;
    position: sticky;
    top:2px;
    z-index:2;/*for content  crol behind navebar*/
    text-align: center;
    
}
#h2{
    color:aliceblue;
    size: 25px;


}

.div{
    display:grid;
    grid-template-rows:  370px;
    grid-template-columns: 340px 320px 320px 320px;
    background-color: rgba(253, 253, 247, 0.753);
    grid-gap: 30px 30px;
    background-color: skyblue;


}
.dc{
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;

}
.dc1{
    border:  3px solid black;  
    grid-area: 1/1/3/2;
    height: 700x;
    width: 320px;
    margin: 50px;
    text-align:center;
    background-color: aliceblue;
    
}
.dc2{
    background-image: url("../images/stdmtur.jpg");
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;

}
.dc3{
    background-image: url("../images/tickets.jpg");
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;
}
.dc4{
    background-image: url("../images/preview.jpg");
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;
}
.dc5{
    background-image: url("../images/trophy.jpg");
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;
}
.dc6{
    background-image: url("../images/store.jpg");
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;
}
.dc7{
    background-image: url("../images/fixtures.png");
    border:  3px solid black;  
    height: 300px;
    width: 300px;
    margin: 50px;
}

.div2{
    padding: 30px;
    background-color: antiquewhite;
}
.div3{
   height: 230px;
   width: 1000px; 
   text-align: center;
   background-image: url("../images/img1.jpg");
   display: inline;
   display: inline-block;
   margin-left: 200px;

}
/* .div4{
    height: 230px;
    width: 500px; 
    text-align: center;
    background-image: url("../images/imgfa.jpg");
    display: inline;
    display: inline-block;
    border: 3px solid black;
 }
  */








